@font-face {
    font-family: "Exocet Blizzard MixedCaps";
    src: url("/assets/ExocetBlizzardOT-Medium-MixedCaps.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "Exocet Blizzard MixedCaps";
    src: url("/assets/ExocetBlizzardOT-Heavy-MixedCaps.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "Formal436";
    src: url("/assets/Formal436BT-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}
